<%= nav_bar_render(['My Classes'],
					[dashboard_path]
					)
%>

<h5>
	<%= link_to manage_courses_path do %>
		<i class='icon-wrench'></i> Manage Classes
	<% end %>
</h5>

<% @courses_to_render = current_user.courses.all %>

<!-- Show Currently enrolled Courses -->

<div class='span8'>
	<%= render "course/shared/courses"%>
</div>

<!-- Show All Courses -->