<link href="http://jschr.github.io/textillate/assets/animate.css" rel="stylesheet">

<script src="http://jschr.github.io/textillate/assets/jquery.lettering.js"></script>

<script src="http://jschr.github.io/textillate/jquery.textillate.js"></script>



<center>
	<h1 class="tlt" style="font-size: 50px;">
		HBS Shared Notes
	</h1>	
	<h4 class="sub-title" style="visibility: hidden" >
  		Learn together and actually remember what happens in class
	</h4>
</center>
<hr/>


<script>

	$(function () {
	    $('.tlt').textillate({ in: { effect: 'flipInY' }});

	    $('.sub-title').textillate({
          in: { effect: 'bounceInDown' },
  		    initialDelay: 1500
	    });

	})

</script>



	<div id="myCarousel" class="carousel slide box-shadow">
                <ol class="carousel-indicators">
                  <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                  <li data-target="#myCarousel" data-slide-to="1" class=""></li>
        
                </ol>

                <div class="carousel-inner">
                  <div class="item active">
              		<div class="crop_baker">
	                    <img src="assets/baker_lib.jpg" alt="">
                    </div>
                    <div class="carousel-caption">
                      <h4>Easily share notes across your entire class</h4>
                      <p></p>
                    </div>
                  </div>
                  <div class="item">
              		<div class="crop_baker">
                    	<img src="assets/class_room.jpeg" alt="">
                	</div>
                    <div class="carousel-caption">
                      <h4>Keep a record of what was actually discussed in class</h4>
                      <p>Make writing papers a whole lot easier</p>
                    </div>
                  </div>
                </div>
                <a class="left carousel-control" href="#myCarousel" data-slide="prev">‹</a>
                <a class="right carousel-control" href="#myCarousel" data-slide="next">›</a>
              </div>

              <script>
              $('.carousel').carousel({
  				interval: 4000
				})
              </script>

  <div class='container'>	
      <div class="row">
        <div class="span4">
          <h2>Collaborate</h2>
          <p>Easily share and create notes with your entire class, in a central, organized place. Vote on which class notes provide the most insight. </p>
          <p><button class="btn" data-toggle="modal" data-target="#collaborate">View details »</button></p>
        </div>
        <div class="span4">
          <h2>Remember</h2>
          <p>Remember the topic and discussion from every class long after the class is over. </p>

          <p>
            <button class="btn" data-toggle="modal" data-target="#remember">View details »</button>
          </p>
        </div>

        <div class="span4">
          <h2>Discover</h2>
          <p>See what classes your friends are taking and what is being discussed in their classes, even in classes you are not in</p>
          <p>
            <button class="btn" data-toggle="modal" data-target="#discover">View details »</button>
          </p>
        </div>
      </div>
  </div>




<!-- Modal -->

<!-- Collaborate -->
<div class="modal fade" id="collaborate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Collaborate with your Classmates</h4>
      </div>

      <div class="modal-body">
        Contribute to the class discussion for any class

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Remember -->
<div class="modal fade" id="remember" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Remember what happens in your classes</h4>
      </div>

      <div class="modal-body">
        Everything is archieved for easy access later

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<!-- Discover -->
<div class="modal fade" id="discover" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">Discover what your friends are learning!</h4>
      </div>

      <div class="modal-body">
        See what classes your friends are taking and what is being discussed in those classes!

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
