
<br/>

<h3>
	<%= @course.title %>
</h3>

<br/>

<h4>
	<%= @class_session.title %>
</h4>

<br/>

<!-- Add Take Aways -->

<%= render "course/shared/add_class_take_aways"%>

<!-- List of Take Aways -->

<%= render "course/shared/class_take_aways"%>



