<%= nav_bar_render(['My Classes', 
					@course.title, 
					to_day_of_week_and_date(@class_session.class_date)],
					[dashboard_path, 
					course_path(@course), 
					class_session_home_path(@course, @class_session)]
					)
%>

<!-- Add Take Aways -->

 <%= render "course/shared/add_class_take_aways", :take_away => nil, :class_session => @class_session %> 

<!-- List of Take Aways -->

<div class='span8'>
<%= nested_take_aways(@class_session.take_aways.roots.sort! { |a,b| b.votes.count <=> a.votes.count }) %>
</div>


<script>

	function getJsonFromUrl() {
	  var query = location.search.substr(1);
	  var data = query.split("&");
	  var result = {};
	  for(var i=0; i<data.length; i++) {
	    var item = data[i].split("=");
	    result[item[0]] = item[1];
	  }
	  return result;
	}


	v = getJsonFromUrl(window.location)['take_away_id']

	if (v)
	{		
		var take_away = $('#' + v)

		var take_away_coordinates = take_away.offset()

		$(window).scrollTop(take_away_coordinates.top - 50)

		var original_color = take_away.css("background-color")

		take_away.css("background-color", 'cyan')
		

		take_away.animate({
	          backgroundColor: jQuery.Color( original_color ),
	        }, 1000 )	

	}

</script>



