<%= nav_bar_render(['My Classes', 
					@current_course.title], 
				   [dashboard_path, 
				   	course_path(@current_course)]
				   )  %>

<!-- Show class sessions -->



<% @class_sessions_to_render = @current_course.class_sessions.all %>

<%= render "course/shared/class_sessions"%>


<h4>
	Currently Enrolled Students
</h4>

	<hr/>	
	<!-- Show Currently enrolled Students -->
		

	<table class="table">
		<% @current_course.users.each do |user| %>
			<tr>
				<td>

					<%= profile_pic_name(user) %>

				</td>
			</tr>	
		<% end %>
	</table>

	<!-- add class sessions -->

<h4>
	Add a class session
</h4>
<hr/>

	<%= render "course/shared/add_class_session"%>
	