<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(nicEditors.allTextAreas);</script>
						


<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        
        <button class="btn btn-success">
        	+ Add Your Own Take Away
      	</button>
     
      </a>
    </div>

    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

	 

<%= form_tag(add_take_away_path, method: "post", :id => "form_id") do %>

	<input name="course_to_add_id" type="hidden" value="<%= @course.id %>" />

	<input name="class_session_to_add_id" type="hidden" value="<%= @class_session.id %>" />

	Take away Title

	<input name="take_away_title" type="text" />

	<br/>

	<textarea rows="6" style="width: 100%" name="content" form="form_id">
	</textarea>


	<br/>

  <button type="submit" class="btn btn-success" title="Add the selected courses below to your registered courses">Add a take away
  </button>

<% end %>


      </div>
    </div>
    </div>
</div>	

