Add a class session test

<br/>

<div class="accordion" id="accordion2">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
        
        <button class="btn btn-success">
        	+ Add a new class session
      	</button>
     
      </a>
    </div>

    <div id="collapseOne" class="accordion-body collapse">
      <div class="accordion-inner">

		<%= form_tag(add_class_session_path, method: "post", :id => @current_course.id) do %>

			<input name="course_to_add" type="hidden" value="<%= @current_course.id %>" />

			Session Title
			<input name="session_title" type="text" />

			<br/>	

			Description
			<input name="description" type="text" />

			<br/>

			Clsss Date

			<input name="class_date" type="text" data-behaviour='datepicker' >

			<script type="text/javascript">
		  		$(document).ready(function(){
		    	$('[data-behaviour~=datepicker]').datepicker();
		  		})
			</script>

		  <button type="submit" class="btn-large btn-success" title="Add the selected courses below to your registered courses">Add a class session
		  </button>

		<% end %>
	</div>
</div>
</div>
</div>
