<h4>
	All Class Sessions
</h4>

<% @class_sessions_to_render.each do |class_session| %>

	<% unless class_session.nil? %>

		<h4>
			<%= link_to class_session.title, class_session_home_path(@current_course, class_session) %>

			<%= class_session.title %>
		</h4>

		<% unless class_session.take_aways.count == 0 %>

			<%= class_session.take_aways.first.title %>
				<br/>
			<%= class_session.take_aways.first.user.email %>
		<% end %>
		
	<% end %>
<% end %>