

<table class="table">
<% @class_sessions_to_render.each do |class_session| %>

	<% unless class_session.nil? %>

			<tr>
				<td>
					<h4>
						<%= link_to to_day_of_week_and_date(class_session.class_date), class_session_home_path(@current_course, class_session) %>

						<%= class_session.title %>
					</h4>
				</td>
			</tr>
		
	<% end %>
<% end %>

</table>

