<!-- renders tables of users -->


<table class="table">
	<% @users_to_render.each do |user| %>
		<tr>
			<td>
		<%= link_to user_path(user) do %>
			<%= image_tag(user.profile_pic_url, height: '60', width: '60', class: "img-rounded") %>

			<%= user.first_name + ' ' + user.last_name %>
		<% end %>

			</td>
		</tr>

		
			
	<% end %>

</table>