
<table>
	<tr>
		<td>
<%= image_tag(@user_to_render.profile_pic_url, size: "64x64", alt: "Edit Entry") %>
		</td>
		<td>

		<h2>
			<%= @user_to_render.first_name %>
			<%= @user_to_render.last_name %>'s courses
		</h2>
		</td>
	<tr/>
</table>

<br/>

<% @courses_to_render = @user_to_render.courses.all %>

<!-- Show Currently enrolled Courses -->
<%= render "course/shared/courses"%>